@keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0; /* Start with opacity 0 for fade-in effect */
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slide-in-right {
    animation: slideInRight .3s ease-out; /* Adjusted duration and timing function */
  }
  