/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    height: 65px;
    width: 100%;
    background-color: rgba(69, 21, 21, 0.924)
} */
@media (min-width: 1024px) {
    .hidden-on-laptop {
      display: none;
    }
  }
  